body{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-style:italic;
    margin: 0;
    padding: 0;
    background-color: rgb(235, 230, 229);
    transition:cubic-bezier(59);
}
.dark-mode {
    background-color: black;
    color: white;
  }
header{
    background-color:cornflowerblue;
    color:black ;
    padding: 1em;
    animation-direction:calc(touch-action);
    touch-action: manipulation;
    font-size:large;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-stretch:extra-expanded;
    font-display:inherit;
}
nav ul{
    list-style: none;
    padding: 0;
    text-align: right;


}
nav ul li{
    display: inline;
    margin: 0;
    padding: 1em;
}
nav ul li a{
  color: lightcyan; 
  text-decoration: double; 
}
main{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 2em;

}
table{
    width: 100%;
    border-collapse: collapse;
}
th,td{
    padding: auto;
    text-align: left;
    border: 1px solid darkslategray;
}
th {
    background-color:gold;
}
section{
    padding: 3em;
}
project{
    margin: 2em 0;
}
form {
    display: flex;
}
form lebel,form input,form textarea,form button{
    margin: 1em 1em; 
}
footer{
    background-color:darkolivegreen;
    color: black;
    text-align:center ;
    padding: 0.5em;
    position: fixed;
    width: 100%;
    bottom: 0;
}
button submit{
    button {
        background-color: #04AA6D; /* Green */
        border: none;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
}
